# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/"
    labels: []
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/images/yq/"
    labels: []
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/"
    labels: []
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/"
    groups:
      eslint:
        patterns:
          - "@eslint/js"
          - "eslint"
      jest:
        patterns:
          - "jest"
          - "jest-environment-jsdom"
    labels: []
    open-pull-requests-limit: 10
    schedule:
      interval: "weekly"
      day: "tuesday"

  - package-ecosystem: docker
    directory: /images/yq
    schedule:
      interval: daily
